<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
    <stringAttribute key="ATL File Name" value="/OnlineBanking/Bank2Accounts.atl"/>
    <stringAttribute key="ATL VM" value="EMF-specific VM"/>
    <stringAttribute key="ATL_COMPILER" value="atl2006"/>
    <booleanAttribute key="IS_REFINING" value="false"/>
    <mapAttribute key="Input">
        <mapEntry key="IN" value="Bank"/>
    </mapAttribute>
    <mapAttribute key="Libs"/>
    <mapAttribute key="Model Handler">
        <mapEntry key="Accounts" value="EMF"/>
        <mapEntry key="Bank" value="EMF"/>
    </mapAttribute>
    <mapAttribute key="ModelType">
        <mapEntry key="Accounts" value="METAMODELOUTPUT"/>
        <mapEntry key="Bank" value="METAMODELINPUT"/>
        <mapEntry key="IN" value="MODELINPUT"/>
        <mapEntry key="OUT" value="MODELOUTPUT"/>
    </mapAttribute>
    <mapAttribute key="Options">
        <mapEntry key="OPTION_CLEAR" value="false"/>
        <mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
        <mapEntry key="OPTION_DERIVED" value="true"/>
        <mapEntry key="allowInterModelReferences" value="false"/>
        <mapEntry key="printExecutionTime" value="false"/>
        <mapEntry key="step" value="false"/>
        <mapEntry key="supportUML2Stereotypes" value="false"/>
    </mapAttribute>
    <listAttribute key="OrderedInput">
        <listEntry value="IN"/>
    </listAttribute>
    <listAttribute key="OrderedOutput">
        <listEntry value="OUT"/>
    </listAttribute>
    <mapAttribute key="Output">
        <mapEntry key="OUT" value="Accounts"/>
    </mapAttribute>
    <mapAttribute key="Path">
        <mapEntry key="Accounts" value="/OnlineBanking/AccountUser.ecore"/>
        <mapEntry key="Bank" value="/OnlineBanking/OnlineBanking.ecore"/>
        <mapEntry key="IN" value="/OnlineBanking/Sample-OnlineBanking.xmi"/>
        <mapEntry key="OUT" value="/OnlineBanking/Sample-Accounts.xmi"/>
    </mapAttribute>
    <listAttribute key="Superimpose"/>
</launchConfiguration>
